.editor-field-group
{
    border-bottom: none;
}

.outer-west, .outer-east
{
    background-color: #33648D;
    border-right: solid 1px #e1e1e1;
}

.ui-tabs-panel
{
    background-color: #fff !important;
    padding: 2px;
}

.CodeMirror-gutter
{
    background-color: #ccc !important;
}

.light-bar, .ui-slider-handle
{
    background-color: #fff;
    border-bottom: solid 1px #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
}

body
{
    background: #f8f8f8;
}

.ui-state-default a
{
    color: #777 !important;
}

.ui-state-default
{
    background-color: #eee !important;
}

.ui-state-active
{
    border: solid 1px #eee;
    background-color: #fff !important;
}

span[resizer]
{
    background-color: #f1f1f1;
}

input, input[type="file"], select, textarea, .progress
{
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 7px 0px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 7px 0px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 7px 0px inset;
    background: #fff;
    color: #777 !important;
}

.ui-item, .expression-tree-node, .rule
{
    border: solid 1px #eee;
}

.selected, .ui-selected, .ui-slider
{
    color: #fff;
    background-color: #999;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 7px 0px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 7px 0px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 7px 0px inset;
    background: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.3);
}

.editor-field-group-divider
{
    background-color: #eee;
}

.designer-field
{
    border: solid 1px #efefef;
}

    .designer-field:hover
    {
        border: solid 1px #ccc;
    }

.modal, .ui-dialog
{
    background-color: #fff;
}

/* line 248, ../sass/darkstrap.scss */
.modal-header, .ui-dialog-titlebar
{
    border-bottom: 1px solid #eee;
}

/* line 251, ../sass/darkstrap.scss */
.modal-body p
{
    color: #c6c6c6;
}

/* line 254, ../sass/darkstrap.scss */
.modal-footer, .ui-dialog-buttonpane
{
    background-color: #efefef;
    border-top: 1px solid #ccc;
    -moz-box-shadow: 0 1px 0 #f1f1f1 inset;
    -webkit-box-shadow: 0 1px 0 #f1f1f1 inset;
    -o-box-shadow: 0 1px 0 #f1f1f1 inset;
    box-shadow: 0 1px 0 #f1f1f1 inset;
}

input[type="text"], select
{
    border: solid 1px #ccc;
}

.button
{
    font-size: 12px !important;
}

.button
{
    white-space: nowrap;
    background: rgb(254,255,255); /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(255,242,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(255,242,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(255,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(255,242,242,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(255,242,242,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(255,242,242,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#fff2f2',GradientType=0 ); /* IE6-8 */
    border: 1px solid #ccc;
    padding: 0 1.5em;
    font: bold .7em/1.7em Arial, Helvetica;
    text-decoration: none;
    color: #777;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
}

    .button:hover
    {
        background-color: #eee;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
        background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
        background-image: -moz-linear-gradient(top, #fafafa, #ddd);
        background-image: -ms-linear-gradient(top, #fafafa, #ddd);
        background-image: -o-linear-gradient(top, #fafafa, #ddd);
        background-image: linear-gradient(top, #fafafa, #ddd);
    }

    .button:active
    {
        -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        position: relative;
        top: 1px;
    }

    .button:focus
    {
        outline: 0;
        background: #fafafa;
    }

    .button:before
    {
        background: #ccc;
        background: rgba(0,0,0,.1);
        float: left;
        width: 1em;
        text-align: center;
        font-size: 1.5em;
        margin: 0 1em 0 -1em;
        padding: 0 .2em;
        -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -moz-border-radius: .15em 0 0 .15em;
        -webkit-border-radius: .15em 0 0 .15em;
        border-radius: .15em 0 0 .15em;
        pointer-events: none;
    }

.rule-set-rule
{
    display: inline-block;
    white-space: nowrap;
    background: rgb(254,255,255); /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(255,242,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(255,242,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(255,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(255,242,242,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(255,242,242,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(255,242,242,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#fff2f2',GradientType=0 ); /* IE6-8 */
    border: 1px solid #111;
    padding: 0 1.5em;
    font: bold .7em/1.7em Arial, Helvetica;
    text-decoration: none;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
}

.designer-header
{
    padding: 6px;
    color: #ccc;
    font-weight: bold;
}

.rule-container
{
    border: none !important;
    border-bottom: solid 1px #ccc !important;
    background-color: #eee !important;
    border-color: #ccc !important;
    color: #999;
}

.expression-tree-node, .ui-item
{
    border: solid 1px #ccc;
    background-color: #eee;
    color: #777;
}

.left-nav div
{
    color: #777;
}