<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MoreEntities" connectionString="metadata=res://*/MoreRulesEngine.csdl|res://*/MoreRulesEngine.ssdl|res://*/MoreRulesEngine.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ccifldevsql01;initial catalog=MoreRulesEngine_Test;user id=carolinaxpress;password=xpress;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MoreLookupTableEntities" connectionString="metadata=res://*/MoreLookupTables.csdl|res://*/MoreLookupTables.ssdl|res://*/MoreLookupTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MoreLookupTables;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>