<?xml version="1.0"?>
<appSettings>
    <add key="AccountManagementUrl" value="https://ccifldeviis01/AccountManagement" />
    <add key="Aspose.Words.NET:LicenseFileDirectory" value="C:\Aspose.Words.lic"/>
    <add key="AutoSaveTime" value="20000" />
    <add key="CacheName" value="AccountsCache" />
    <add key="CacheServer" value="localhost" />
    <add key="CarolinaConfigurationUrl" value="https://ccifldeviis01/QuickQuote/AppConfig/Designer" />
    <add key="CarolinaExpressUrl" value="https://ccifldeviis01/QuickQuote" />
    <add key="CdnUrl" value="https://ccifldeviis01/CarolinaCDN"/>
    <!--<add key="CdnUrl" value="http://localhost/Carolina.CDN"/>-->
    <add key="ClaimsError" value="mbarksdale@carolinacas.com;rmauldin@carolinacas.com;mosborne@carolinacas.com" />
    <add key="ClaimsManagementUrl" value="https://ccifldeviis01/ClaimsManagement" />
    <add key="ClaimsTriage" value="mbarksdale@carolinacas.com;rmauldin@carolinacas.com;mosborne@carolinacas.com" />
    <add key="ClaimsUrl" value="https://ccifldeviis01/Claims" />
    <add key="ClientValidationEnabled" value="true"/>
    <add key="DocumentStorageDirectory" value="C:\DocumentLibrary\TestRoot\"/>
    <add key="DocumentStorageUri" value="http://ccifldeviis01/DocumentLibrary"/>
    <add key="domain" value="wrbts.ads.wrberkley.com" />
    <add key="FederationMetadataLocation" value="https://btsfldevportal2/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="FormStorageDirectory" value="C:\FormLibrary\TestRoot\"/>
    <add key="FormStorageUri" value="http://ccifldeviis01/FormLibrary"/>
    <add key="groupsOu" value="OU=Groups,OU=CCIC,DC=wrbts,DC=ads,DC=wrberkley,DC=com" />
    <add key="ldapPath" value="LDAP://wrbts.ads.wrberkley.com/" />
    <add key="ldapPathModifier" value="LDAP://wrbts.ads.wrberkley.com/[REPLACE]" />
    <add key="ou" value="OU=Users,OU=IT,OU=Dept,OU=CCIC,OU=USA,DC=wrbts,DC=ads,DC=wrberkley,DC=com" />
    <add key="ouModifier" value="OU=Users,OU=[REPLACE],OU=Dept,OU=CCIC,OU=USA,DC=wrbts,DC=ads,DC=wrberkley,DC=com" />
    <add key="PDFGenPath" value="C:\QQDocs\" />
    <add key="PDFTemplatePath" value="C:\QQDocs\Template\"/>
    <add key="ProducerManagementUrl" value="https://ccifldeviis01/ProducerManagement" />
    <add key="RatingAssemblyPath" value="c:\RatingAssemblies\" />
    <add key="RatingEngineUrl" value="https://ccifldeviis01/QuickQuote/AppConfig/Rating" />
    <add key="RatingImportPath" value="C:\IsoXml"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="webpages:Version" value="1.0.0.0"/>
</appSettings>
