<?xml version="1.0"?>
<connectionStrings>
    <!-- LifeboatTest database user credentials = User ID=ProducerManagementWeb;Password=ProBro123 -->
    
    <add name="ApplicationConfigurationEntities" connectionString="metadata=res://*/Configuration.Configs.csdl|res://*/Configuration.Configs.ssdl|res://*/Configuration.Configs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ccifldevsql01;initial catalog=ApplicationConfiguration;user id=carolinaxpress;password=xpress;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ApplicationConfigurationEntities" connectionString="metadata=res://*/Configs.csdl|res://*/Configs.ssdl|res://*/Configs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ccifldevsql01;initial catalog=ApplicationConfiguration;uid=carolinaxpress;password=xpress;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ApplicationConfigurationRatingTablesEntities" connectionString="metadata=res://*/Rating.RatingTables.csdl|res://*/Rating.RatingTables.ssdl|res://*/Rating.RatingTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCIFLDEVSQL01;initial catalog=ApplicationConfigurationRatingTables;user id=carolinaxpress;password=xpress;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="CommonEntities" connectionString="metadata=res://*/Common.Common.csdl|res://*/Common.Common.ssdl|res://*/Common.Common.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCIFLDEVSQL01;initial catalog=LifeboatTest;User ID=ProducerManagementWeb;Password=ProBro123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FormLibraryEntities" connectionString="metadata=res://*/Forms.FormLibraryModel.csdl|res://*/Forms.FormLibraryModel.ssdl|res://*/Forms.FormLibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCIFLDEVSQL01;initial catalog=LifeboatTest;User ID=ProducerManagementWeb;Password=ProBro123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Production.AccountsEntities" connectionString="metadata=res://*/Accounts.Accounts.csdl|res://*/Accounts.Accounts.ssdl|res://*/Accounts.Accounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCIFLDEVSQL01;Initial Catalog=LifeboatTest;User ID=ProducerManagementWeb;Password=ProBro123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Production.AgentListEntities" connectionString="metadata=res://*/Claims.AgentList.csdl|res://*/Claims.AgentList.ssdl|res://*/Claims.AgentList.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCIFLDEVSQL01;initial catalog=Producers_2k;user id=ccirpt; password=ccreport;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Production.ClaimsEntities" connectionString="metadata=res://*/Claims.Claims.csdl|res://*/Claims.Claims.ssdl|res://*/Claims.Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCIFLDEVSQL01;Initial Catalog=Claims;User ID=ClaimsWeb;Password=ProBro123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Production.ClaimsEntities" connectionString="metadata=res://*/Claims.Claims.csdl|res://*/Claims.Claims.ssdl|res://*/Claims.Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCIFLDEVSQL01;Initial Catalog=Claims;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Production.CommonEntities" connectionString="metadata=res://*/Common.Common.csdl|res://*/Common.Common.ssdl|res://*/Common.Common.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCIFLDEVSQL01;Initial Catalog=LifeboatTest;User ID=ProducerManagementWeb;Password=ProBro123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Production.ProducerManagementEntities" connectionString="metadata=res://*/Producer.ProducerManagement.csdl|res://*/Producer.ProducerManagement.ssdl|res://*/Producer.ProducerManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCIFLDEVSQL01;Initial Catalog=LifeboatTest;User ID=ProducerManagementWeb;Password=ProBro123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="QQDataContainer" connectionString="metadata=res://*/QQData.csdl|res://*/QQData.ssdl|res://*/QQData.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\Users\mosborne\Documents\QQData.sdf&quot;" providerName="System.Data.EntityClient" />-->
    <add name="QQDataContainer" connectionString="metadata=res://Carolina.Persistance.DataStore/QQDataContainer.csdl|res://Carolina.Persistance.DataStore/QQDataContainer.ssdl|res://Carolina.Persistance.DataStore/QQDataContainer.msl;&#xD;&#xA;                            provider=System.Data.SqlClient;provider connection string=&quot;data source=ccifldevsql01;initial catalog=CarolinaExpress;&#xD;&#xA;user id=carolinaxpress;password=xpress;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Test.AccountsEntities" connectionString="metadata=res://*/Accounts.Accounts.csdl|res://*/Accounts.Accounts.ssdl|res://*/Accounts.Accounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCIFLDEVSQL01;Initial Catalog=LifeboatTest;User ID=ProducerManagementWeb;Password=ProBro123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Test.AgentListEntities" connectionString="metadata=res://*/Claims.AgentList.csdl|res://*/Claims.AgentList.ssdl|res://*/Claims.AgentList.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCIFLDEVSQL01;initial catalog=Producers_2k;user id=ccirpt; password=ccreport;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Test.CommonEntities" connectionString="metadata=res://*/Common.Common.csdl|res://*/Common.Common.ssdl|res://*/Common.Common.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCIFLDEVSQL01;Initial Catalog=LifeboatTest;User ID=ProducerManagementWeb;Password=ProBro123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Test.ClaimsEntities" connectionString="metadata=res://*/Claims.Claims.csdl|res://*/Claims.Claims.ssdl|res://*/Claims.Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCIFLDEVSQL01;Initial Catalog=Claims;User ID=ClaimsWeb;Password=ProBro123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Test.ProducerManagementEntities" connectionString="metadata=res://*/Producer.ProducerManagement.csdl|res://*/Producer.ProducerManagement.ssdl|res://*/Producer.ProducerManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCIFLDEVSQL01;Initial Catalog=LifeboatTest;User ID=ProducerManagementWeb;Password=ProBro123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>

