<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <!--<add name="MoreEntities" connectionString="metadata=res://*/MoreRulesEngine.csdl|res://*/MoreRulesEngine.ssdl|res://*/MoreRulesEngine.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ccifldevsql01;initial catalog=MoreRulesEngine;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MoreLookupTableEntities" connectionString="metadata=res://*/MoreLookupTables.csdl|res://*/MoreLookupTables.ssdl|res://*/MoreLookupTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ccifldevsql01;initial catalog=MoreLookupTables;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->   
    <add name="MoreEntities" connectionString="metadata=res://*/MoreRulesEngine.csdl|res://*/MoreRulesEngine.ssdl|res://*/MoreRulesEngine.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ccifldevsql01;initial catalog=MoreRulesEngine_Test;user id=carolinaxpress;password=xpress;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MoreLookupTableEntities" connectionString="metadata=res://*/MoreLookupTables.csdl|res://*/MoreLookupTables.ssdl|res://*/MoreLookupTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ccifldevsql01;initial catalog=MoreLookupTables;user id=carolinaxpress;password=xpress;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Dev.IsoDb" connectionString="Data Source=ccifldevsql01;user id=carolinaxpress;password=xpress;Initial Catalog=ISO;Connection Timeout=1200" />
  </connectionStrings>
  <appSettings>
    <add key="PublishLocation" value="c:\inetpub\wwwroot\MoreRulesApi\bin\"/>
      <!--<add key="PublishLocation" value="C:\Users\hgodwin\Source\MORE Rules Engine\more\More\More.Services.WebAPI\bin"/>-->
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="30" cookieName="SESSION" cookieless="AutoDetect">
    </sessionState>
    <customErrors mode="Off" />

    <!--<authentication mode="None" />-->
    <!--<authentication mode="Forms">
      <forms name=".ASPXFORMSDEMO" loginUrl="/"
      protection="All" path="/" timeout="30" />
    </authentication>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--Commented out by FedUtil-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="50000" />
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="More.Engine.Model" />
        <add namespace="More.Application.BaseModel" />
        <add namespace="More.Engine.BaseModel" />
        <add namespace="System.Data.Entity" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>